<!DOCTYPE html>
<html>
<head>
    <style>
        #borderClients{
            border: 1px solid black;
            width: 100%;
        }
    </style>

    <script>
        //Update the client connection state objects
        function updateClientConnectionStatus(xStartClientConnected,xFinishClientConnected){
                var startClientText = document.getElementById("startClientConnectionState");
                var finishClientText = document.getElementById("finishClientConnectionState");
                
                if (xStartClientConnected){
                startClientText.style.backgroundColor = "lightgreen"
                startClientText.innerHTML = "Connected"
                }else{
                startClientText.style.backgroundColor = "red"
                startClientText.innerHTML = "Disconnected"
                }

                if (xFinishClientConnected){
                finishClientText.style.backgroundColor = "lightgreen"
                finishClientText.innerHTML = "Connected"
                }else{
                finishClientText.style.backgroundColor = "red"
                finishClientText.innerHTML = "Disconnected"
                }
            }
    </script>
</head>
<body>
    <div id="borderClients">
        <H2>Clients</H2>
        <label for="Startclient">Start client</label>
        <p id="startClientConnectionState">Unknow</p>
        <br>
        <label for="Finishclient">Finish client</label>
        <p id="finishClientConnectionState">Unknow</p>
    </div>
</body>