<!DOCTYPE html>
<html>
<head>
  <title>Unicycle race system</title>
</head>
<body>
  <a href="settings" target="_blank">Instellingen</a>
  <br>
  <br>
  {% include 'raceControl.html' %}

	{% include 'names.html' %}

    <label for="Startclient">Start client</label>
    <input type="checkbox" name="StartClient" value="StartClient" {{ "checked" if StartClient else "" }}/>
    <br>
    <label for="Finishclient">Finish client</label>
    <input type="checkbox" name="FinshClient" value="FinshClient" {{ "checked" if FinshClient else "" }}/>
</body>
</html>

