<!DOCTYPE html>
<html>
<head>
  <title>Unicycle race system</title>
</head>
<body>
    <a href="../" target="_blank">Home</a><br><br>
    <form action = "/settings" method = "post">
        <table>
            <tr>
                <th>Countdown</th>
                <th><input type="text" name="countdown" value="{{countdownValue}}"/></th>
            </tr>
            <tr>
                <th>Oranje</th>
                <th><input type="text" name="orange" value="{{orangeValue}}"/></th>
            </tr>
        </table>
        <input type="submit" name="sumit" value="Opslaan"/>  
    </form>
</body>
</html>